
    <head>
    
        <h1> <center> What is in your refrigerator? </center></h1>
        <center> <img src="https://media.istockphoto.com/photos/refrigerator-picture-id160948720?b=1&k=6&m=160948720&s=170667a&w=0&h=NkUfBIpvvL_tbLvqrWSNX7izzQpYQyFxykPQFJmAMxE="> </center>
        <style>
            table {
                border-collapse: collapse;
            }
            th, td {
                border: 1pt solid black;
                padding: 1em;
            }
            h1 {
                color: blue;
            }
            img {
                height: 200px;
                width: 200px;
            }

        </style>        
    </head>
    <body style="background-color:rgb(19, 230, 212);">

        <center>
        <table>
            <tr>
                <th>     Category     </th>
                <th>     Name     </th>
                <th>     Quantity    </th>

            </tr>

            <tr>
                <form method="POST" action="/foods">  
            <td>
                <input type="text" name="category" placeholder="i.e. 'produce'"/>
            </td>

            <td> 
                     
                    <input type="text" name="name" placeholder="i.e. 'apple'"/>

            </td>

            <td> 
                    <input type="text" name="quantity" placeholder="Type number here"/>
            </td><br>

            <td>
            <center><button>   + Add New Item <button/></center>
            </td>
            </tr>
            </form> 
        </table>
        <br>
        
        <br>
        <br> 
        <h2> <strong><center>Current Refrigerator Inventory </strong></center></h2>
        <table>
        <tr>
        <th> <h3> Category: <br></h3> </th>
        <th><h3> Name: <br></h3></th>
        <th> <h3> Quantity: <br></h3> </th>
 
        </tr>
        <tr>
        <% @foods.each do |food| %>
            <td>
            <p> <%= food.category %></p>
            
            <td>
            <p> <%= food.name %></p>
            </td>

            <td>
            <p> <%= food.quantity %></p>
            
            </td>
            <td>
            <a href="/foods/<%= food.id %>/edit" <h3> Edit Entry </h3> </a>

            </td>
            <td> 
            <a href="/foods/<%= food.id %>" <h3> Delete Entry</h3> </a>
            </td>
            </tr>
            
        <% end %> 
        </table>
        <h5> Click <a href="/foods">here</a> for a printable version of your inventory:</h5>
        
