
    <head>
    
        <h1 style="color: rgb(50, 109, 168)"> <center> <u> What is in your refrigerator? </u></center></h1><br>
        <center> <img src="https://media.istockphoto.com/photos/refrigerator-picture-id160948720?b=1&k=6&m=160948720&s=170667a&w=0&h=NkUfBIpvvL_tbLvqrWSNX7izzQpYQyFxykPQFJmAMxE="> </center>
        <link rel="stylesheet"  type="text/css" href="/stylesheets/table.css">
        <style>
        p{
            color: black;
        }
        </style>
    </head>
    <body>

        <center>
        <table>
            <tr>
                <th>     Category     </th>
                <th>     Name     </th>
                <th>     Quantity    </th>

            </tr>

            <tr>
                <form method="POST" action="/foods">  
            <td>
                <input type="text" name="category" placeholder="i.e. 'produce'" required/>
            </td>

            <td> 
                     
                    <input type="text" name="name" placeholder="i.e. 'apple'" required/>

            </td>

            <td> 
                    <input type="number" name="quantity" placeholder="Type number here" required/>
            </td><br>

            <td>
            <center><button>   + Add New Item <button/></center>
            </td>
            </tr>
            </form> 
        </table>
        <br>
        
        <br>
        <br> 
        <h2 style="color: rgb(112, 18, 18);"> <strong><u><center>Current Refrigerator Inventory </strong></u></center></h2>
        <table>
        <tr>
        <th> <h3> Category: <br></h3> </th>
        <th><h3> Name: <br></h3></th>
        <th> <h3> Quantity: <br></h3> </th>
 
        </tr>
        <tr>
        <% @foods.each do |food| %>
            <td>
            <p> <%= food.category %></p>
            
            <td>
            <p> <%= food.name %></p>
            </td>

            <td>
            <p> <%= food.quantity %></p>
            
            </td>
            <td>
            <a href="/foods/<%= food.id %>/edit" <h3> Edit Entry </h3> </a>

            </td>
            <td> 
            <a href="/foods/<%= food.id %>" <h3> Delete Entry</h3> </a>
            </td>
            </tr>
            
        <% end %> 
        </table>
        <br>
        <h4> Click <a href="/foods">here</a> for a printable version of your inventory:</h4>
        <br>
        <h4> Click <a href="/list/new">here</a> to access to your shopping list! </h4>
        <footer>
        <br>
        <br>
        <center> <a href="/logout">Log Out</a>  </center>
        </footer>
